<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name="com.hh.agent.android.debug.MobileAgentDebugReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hh.agent.DEBUG_AGENT_SPINNER_START" />
                <action android:name="com.hh.agent.DEBUG_AGENT_SPINNER_STOP" />
                <action android:name="com.hh.agent.DEBUG_SET_CLIPBOARD" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
