<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- 启动界面 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/mock_im_launcher_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ChatDetailActivity"
            android:exported="false" />

        <activity
            android:name=".EmailDetailActivity"
            android:exported="false" />

        <activity
            android:name=".BusinessWebActivity"
            android:exported="false" />

        <activity
            android:name=".RouteNativeDemoActivity"
            android:exported="false" />

        <activity
            android:name=".RouteManualVerificationActivity"
            android:exported="false" />

        <activity
            android:name=".FloatingBallVisibleActivity"
            android:exported="false" />

        <activity
            android:name=".FloatingBallHiddenActivity"
            android:exported="false" />

        <activity
            android:name=".GlowTestActivity"
            android:exported="true"
            android:theme="@style/GlowTestTheme" />

    </application>

</manifest>
